@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    outline: none;
    text-decoration: none;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    border: none;
}

header {
    background-color: #FFF7AD;
}

.topnav li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.logo {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    margin: 40px;
}

.topnav img:hover {
    cursor: pointer;
}

.topnav {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
    border-bottom: solid 2.5px black;
}

body {
    background-color: #fffce0;
}

.pfp img {
    display: block;
    width: 100%;
    
}

.pfp {
    width: 3rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid black;

}

.pfp:hover {
    opacity: 0.75;
}

.barPesquisa {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: .6rem 1rem;
    background-color: white;
    border-radius: 30px;
    border: 2px solid black;
    box-shadow: 2px 2px 1px 1px;

}

.barPesquisa input[type="search"] {
    font-family: "Poppins", sans-serif;
    background: transparent;
    width: 110vh;
    margin-left: 1rem;
    font-size: .9rem;
    color:black;
}

main {
    position: relative;
    height: 100vh;
    
}

.main-container {
    display: grid;
    grid-template-columns: 18vw auto 20vw;
    position: relative;
    column-gap: 2rem;
    border: 2px solid black;
    height: 100%;
}

.main-left {
    position: sticky;
    height: max-content;
    top: 5.4rem;
    border-right: 2px solid black;
    height: 100%;
    background-color: white;
    
}

.main-right {
    border-left: 2px solid rgb(133, 132, 132);
    padding: 20px;
    

}

.main-right .profile {
    
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    gap: 1rem;
    display: flex;
    margin-top: 2rem;
    
    
    
}

.profile-handle h4 {
    font-family: "Varela Round", sans-serif;
    font-weight: 700;
    font-size: large;
}
aside {
   
    margin-top: 1rem;
    
    
   
}

aside .menu-item {
    display: flex;
    align-items: center;
    height: 4rem;
    position: relative;
    cursor: pointer;
    transition: 300ms ease all;
    background-color: transparent;
    margin-right: 1rem;
    margin-left: 1rem;
}

aside .menu-item:hover {
    background-color: transparent;
}



aside .menu-item i {
    margin-left: 1rem;
    margin-right: 1rem;
}

.btnPostar {
    margin-top: 1rem;
    padding: .6rem 3rem;
    font-size: 18px;
    border-radius: 30px;
    border: 2px solid black;
    position: relative;
    cursor: pointer;
    margin-right: 1rem;
    margin-left: 1rem;
}


#log-out {
    
    display: flex;
    align-items: flex-end;
    margin-top: 2rem;
    
}

.tags-pesquisa {
    display: flex;
    gap: 0.5rem;
}

.tags-pesquisa .tag {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: .6rem 1rem;
    border-radius: 20px;
    border: 2px solid black;
    font-size: 15px;

}

.tags-pesquisa .tag:hover {
    background-color: rgb(243, 237, 237);
    cursor: pointer;
    transition: 300ms ease all;
}

.tags-pesquisa .expandir {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color:#e2bbda;
    border: 2px solid black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.tags-pesquisa .expandir:hover {
    background-color:#ac689e;
    cursor: pointer;
    transition: 300ms ease all;
}


.tags-pesquisa .tag i {
   margin-right: 10px;
   
    
}

.main-middle h2 {
    font-family: "Varela Round", sans-serif;
    margin-top: 2rem;
    font-size:2rem;
    font-weight: 600;
    color: #000000;
}
